body{
	padding:0px 0px 0px 0px;
	z-index : 0;
}
.footer{
	background-color: #D1C4E9;
	margin:0px auto;
	padding: 20px 0px 20px 0px;
}
.address{
		font-size: 80%;
		margin: 0px;
		color: #0f0f0f;
}
.navbar-dark{
		background-color: #ff5050;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.page-heading{
	text-align:center;
	margin-top: 5px;
	margin-bottom: 5px;
}
.page-heading span:before, .page-heading span:after{
	 content: "------"
}
.card.card-grey {
    border: 1px solid #999;
}
.card.card-grey .card-title {
    background-color: #999;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 0;
	color: white;
}
.card-title {
    font-size: 16px;
    margin: 0;
	
}
.card-body{
	text-align : center;
}